# Data spliting based on Browser and platform os

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = '../data/AdSmartABdata2.csv'
df = pd.read_csv(file_name)

In [3]:
df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [4]:
df.columns

Index(['auction_id', 'experiment', 'date', 'hour', 'device_make',
       'platform_os', 'browser', 'yes', 'no'],
      dtype='object')

In [5]:
plat_os_list = df['platform_os'].value_counts().index.tolist()[0:2]
browser_list = df['browser'].value_counts().index.tolist()[0:5]
browser_values = df['browser'].value_counts().tolist()[0:5]

In [ ]:
browser_list,browser_values

In [6]:
df = df.drop('platform_os', axis=1)

In [ ]:
plat_os_list

In [68]:
df['platform_os'].value_counts()

6    7648
5     428
7       1
Name: platform_os, dtype: int64

In [69]:
# Grouping based on 
v_os_5 = df.groupby('platform_os').get_group(5)
v_os_6 = df.groupby('platform_os').get_group(6)
v_Chrome_Mobile = df.groupby('browser').get_group('Chrome Mobile')
v_Chrome_Mobile_WebView = df.groupby('browser').get_group('Chrome Mobile WebView')
v_Samsung_Internet = df.groupby('browser').get_group('Samsung Internet')
v_Facebook = df.groupby('browser').get_group('Facebook')
v_Mobile_Safari = df.groupby('browser').get_group('Mobile Safari')

In [7]:
# Change the nameS manually and push it to dvc
df.to_csv('../data/AdSmartABdata1.csv', index=False)

In [27]:
df.head()

,auction_id,experiment,date,hour,device_make,platform_os,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,0,0